@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content";
@source "../../../shared";

@layer base {
  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
